@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  --lazy: .95s; }

/*HELPERS*/
/* line 12, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 15, ../../src/scss/variables.scss */
.x {
  display: none; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* line 4, ../../src/scss/prime-container.scss */
.prime-container {
  background: var(--c3);
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto 70px;
  grid-template-areas: "header" "mainbody" "footer";
  overflow: hidden;
  /*-->header.scss*/
  /*-->mainbody.scss*/
  /*-->footer.scss*/ }
  /* line 11, ../../src/scss/prime-container.scss */
  .prime-container_header {
    grid-area: header;
    width: 100%; }
  /* line 15, ../../src/scss/prime-container.scss */
  .prime-container_mainbody {
    grid-area: mainbody;
    width: 100%; }
  /* line 19, ../../src/scss/prime-container.scss */
  .prime-container_footer {
    grid-area: footer;
    width: 100%; }

/* line 4, ../../src/scss/header.scss */
.header {
  display: flex;
  align-items: center;
  height: var(--navbarHeight);
  /*background: var(--c2);*/
  overflow: hidden;
  background: #333;
  border: 5px white solid; }
  /* line 11, ../../src/scss/header.scss */
  .header-title {
    padding: 0px 20px;
    background: transparent;
    background: #333;
    border: 3px white solid; }
    /* line 15, ../../src/scss/header.scss */
    .header-title_a {
      font-family: "Montserrat", sans-serif;
      font-size: 4rem;
      color: var(--c1);
      text-decoration: none;
      opacity: .15;
      transition: opacity var(--quick); }
      /* line 22, ../../src/scss/header.scss */
      .header-title_a:hover {
        opacity: 1; }

/* line 5, ../../src/scss/mainbody.scss */
.mainbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*background: #333;*/
  /*@include LINE(5px);*/
  color: white;
  overflow: hidden; }

/* line 4, ../../src/scss/chatarea.scss */
.chat-area {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 99%;
  height: 99%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "mainchat sidechat1" "mainchat sidechat2";
  background: #333;
  border: 2px white solid; }
  /* line 12, ../../src/scss/chatarea.scss */
  .chat-area_mainchat-window {
    grid-area: mainchat; }
  /* line 15, ../../src/scss/chatarea.scss */
  .chat-area_sidechat1-window {
    grid-area: sidechat1;
    background: #333;
    border: 2px white solid; }
  /* line 19, ../../src/scss/chatarea.scss */
  .chat-area_sidechat2-window {
    grid-area: sidechat2;
    background: #333;
    border: 2px white solid; }

/* line 4, ../../src/scss/mainchat-grid.scss */
.mainchat-grid {
  display: grid;
  width: clamp(430px, 100%, 100%);
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 500px 50px;
  grid-template-areas: "title" "messageArea" "sendComponent";
  overflow: hidden;
  background: #333;
  border: 5px white solid; }
  /* line 9, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_title {
    grid-area: title;
    display: block;
    position: relative;
    top: 0px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    color: var(--c1);
    background: #333;
    border: 3px white solid; }
  /* line 21, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_message-area {
    grid-area: messageArea;
    width: 100%;
    height: 100%;
    border: 1px red solid; }
  /* line 27, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_send-component {
    grid-area: sendComponent;
    display: block;
    position: relative;
    bottom: 0px;
    width: 100%;
    border: 1px red solid; }

/*@import "signin-modal";
@import "mainchat-message-area";
@import "send-component";
@import "sidechat-invite";*/
/* line 4, ../../src/scss/footer.scss */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navbarHeight);
  /*background: var(--c2);*/
  background: #333;
  border: 5px white solid;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: var(--c1); }
  /* line 14, ../../src/scss/footer.scss */
  .footer-link {
    color: var(--c1);
    text-decoration: none;
    opacity: .15;
    transition: opacity var(--quick); }
    /* line 19, ../../src/scss/footer.scss */
    .footer-link:hover {
      opacity: 1; }

/* line 14, ../../src/scss/styles.scss */
* {
  margin: 0;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  /*background: #333;*/ }
