<div class="mainbody">
	<div class="chat-area">
		<div class="chat-area_mainchat-window x">
			{{>mainchat_window}}
		</div>
		<div class="chat-area_sidechat1-window sidechat1 x" id="sidechat1 ">{{>sidechat_window}}</div>
		<div class="chat-area_sidechat2-window sidechat2" id="sidechat2">{{>sidechat_window}}</div>
	</div>
</div>