<div class="mainchat-grid">
	
	<div class="mainchat-grid_title">
		<div class="mainchat-title_expand-button"><<</div>
		<div class="mainchat-title_text">mainchat</div>
		<div class="mainchat-title_close-button">X</div>
	</div>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
	<div class="mainchat-grid_message-area">chat messages</div>
	<div class="mainchat-grid_send-component">
		<!-- ADD THESE TO SIDECHAT TOO -->
		<div class="mainchat-grid_send-component--send-button">SEND</div>
		<input type="text" class="mainchat-grid_send-component--input" placeholder="send a message..."></input>
		<div class="mainchat-grid_send-component--features">
			<div class="mainchat-grid_send-component--features_emojis">X</div>
			<div class="mainchat-grid_send-component--features_gifs">X</div>
			<div class="mainchat-grid_send-component--features_images">X</div>
			<div class="mainchat-grid_send-component--features_darkmode">X</div>
		</div>
	</div>
</div>
