<div class="mainbody">
	<div class="chat-area">
		<div class="chat-area_mainchat-window">
			{{>mainchat_window}}
		</div>
		<div class="chat-area_sidechat1-window" id="sidechat1">side chat-1</div>
		<div class="chat-area_sidechat2-window" id="sidechat2">side chat-2</div>
	</div>
</div>