<div class="mainchat-grid">
	<div class="mainchat-grid_title">main chat</div>
	<div class="mainchat-grid_message-area">chat messages</div>
	<div class="mainchat-grid_send-component">
		<!-- ADD THESE TO SIDECHAT TOO -->
		<div class="mainchat-grid_send-component--send-button">button</div>
		<input type="text" class="mainchat-grid_send-component--input" placeholder="send a message..."></input>
		<div class="mainchat-grid_send-component--features">features</div>
	</div>
</div>


