<div class="mainbody">
	<div class="chat-area">
		<div class="chat-area_mainchat-window">
			{{>mainchat_window}}
		</div>
		<div class="chat-area_sidechat1-window" id="sidechat1">{{>sidechat_window}}</div>
		<div class="chat-area_sidechat2-window" id="sidechat2">{{>sidechat_window}}</div>
	</div>
</div>