<div class="mainchat-grid">
	<div class="mainchat-grid_title">main chat</div>
	<div class="mainchat-grid_message-area">chat messages</div>
	<div class="mainchat-grid_send-component">SEND BUTTON</div>
</div>


