<div class="sidechat-grid">
	<div class="sidechat-grid_title">side chat</div>
	<div class="sidechat-grid_message-area">sidechat messages</div>
	<div class="sidechat-grid_send-component">SEND BUTTON</div>
</div>