<div class="sidechat-grid">
	<!-- <div class="sidechat-grid_title">side chat</div> -->
	<div class="sidechat-grid_title">
		<div class="sidechat-title_expand-button"><<</div>
		<div class="sidechat-title_text">sidechat</div>
		<div class="sidechat-title_close-button">X</div>
	</div>

	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<div class="sidechat-grid_message-area">sidechat messages</div>
	<div class="sidechat-grid_send-component">
		<div class="sidechat-grid_send-component--send-button">S</div>
		<input type="text" class="sidechat-grid_send-component--input" placeholder="send a message..."></input>
		<div class="sidechat-grid_send-component--features">
			<div class="sidechat-grid_send-component--features_emojis">X</div>
			<div class="sidechat-grid_send-component--features_gifs">X</div>
			<div class="sidechat-grid_send-component--features_images">X</div>
		</div>
	</div>
</div>