<div class="sidechat-grid">
	<div class="sidechat-grid_title">side chat</div>
	<div class="sidechat-grid_message-area">sidechat messages</div>
	<div class="sidechat-grid_send-component">
		<div class="sidechat-grid_send-component--send-button">button</div>
		<input type="text" class="sidechat-grid_send-component--input" placeholder="send a message..."></input>
		<div class="sidechat-grid_send-component--features">
			<div class="sidechat-grid_send-component--features_emojis">X</div>
			<div class="sidechat-grid_send-component--features_gifs">X</div>
			<div class="sidechat-grid_send-component--features_images">X</div>
		</div>
	</div>
</div>