<div class="sidechat-grid">
	<!-- <div class="sidechat-grid_title">side chat</div> -->
	<div class="sidechat-grid_title">
		<a href="#" class="sidechat-title_expand-button"><div ><<</div></a>
		
		<div class="sidechat-title_text">sidechat</div>
		<a href="#" class="sidechat-title_close-button"><div >X</div></a>
		
	</div>

	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<div class="sidechat-grid_message-area">sidechat messages</div>
	<div class="sidechat-grid_send-component">
		<a href="#" class="sidechat-grid_send-component--send-button"><div>S</div></a>		
		<input type="text" class="sidechat-grid_send-component--input" placeholder="send a message..."></input>
		<div class="sidechat-grid_send-component--features">
			<a href="#" class="sidechat-grid_send-component--features_emojis"><div >X</div></a>
			<a href="#" class="sidechat-grid_send-component--features_gifs"><div >X</div></a>
			<a href="#" class="sidechat-grid_send-component--features_images"><div >X</div></a>
			
		</div>
	</div>
</div>