@import "variables";
@import "font";
@import "prime-container";

.mainbody{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	/*background: #333;*/
	/*@include LINE(5px);*/
	color: white;
	overflow: hidden;
}