@import "variables";

.messageObj{
    display: block;
    width: 55%;
    text-align:  left;
    border: 1px white solid;
  &--screenname{
    display: block;
    text-decoration: none;
  }
  &--message{
    padding: 5px;
    padding-left: 25px;
  }
  &--image{
    border-top: 2px white solid;
    height: 500px;
    @include LINE(1px);
  }
}
.others-message{
  text-align: right;
  position: relative;
  right: -45%;
}