@import "variables";
@import "font";

.modal{
	opacity: 1;
}
.modal-screen{
	display: block;
	position: absolute;
	top: var(--navbarHeight);
	left:0;
	width: 100%;
	height: 82.5vh;
	@include LINE(2px);
	opacity: .75;
}
.modal-message-box{
	display: block;
	position: absolute;
	width: 50%;
	height: 200px;
	top: 35%; 
	left: 25%;
	@include LINE(2px);
}
