@import "variables";
@import "font";
@import "prime-container";
@import "header";
@import "mainbody";
/*@import "signin-modal";
@import "mainchat-message-area";
@import "send-component";
@import "sidechat-invite";*/
@import "footer";

* {
   margin: 0;
   margin: 0px;
   box-sizing: border-box;
   color: white;
   /*background: #333;*/
}



